body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
* {
  box-sizing: border-box;
}
.Input {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  border: 0;
  box-shadow: none;
  outline: none;
  resize: none;
}
